 * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: 0.5s all;
      }
      body {
        height: 100vh;
        width: 100vw;
        background-image: url('https://raw.githubusercontent.com/jatinmourya07798/Change-Background-Image-automatically/main/images/c1.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
